<div class="flex-sbs">
    <div class="centered-div">
      <div><h2>Sign in and start uploading</h2></div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" placeholder="Username">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" placeholder="Password" type="password">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Continue</button>
        <a routerLink="/register">Do not have an account? Create one today.</a>
      </form>
    </div>
  </div>
